* {
  margin: o;
  padding: 0;
}

.loading {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 1s;
}
.loading .load {
  width: 50px;
  height: 50px;
  border: 1px solid #333333;
  animation: 2s giro infinite;
  background: #333333;
}
@keyframes giro {
  to {
    transform: rotate(360deg);
  }
}

.cover {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.6s;
  background: #FFF;
  position: fixed;
  z-index: 998;
}
.cover .contCover {
  width: 100%;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}
.cover .contCover .tittle {
  font-size: calc(15px + 3vh);
  font-weight: 900;
  line-height: 0px;
  line-height: calc(20px + 3vh);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.cover .contCover .subCover {
  font-size: calc(8px + 1vh);
  line-height: 0px;
  line-height: calc(13px + 1vh);
  transition: 0.2s;
}

@media screen and (min-width: 992px) {
  .cover .contCover .tittle {
    font-size: calc(15px + 7vh);
    line-height: calc(20px + 7vh);
  }
  .cover .contCover .subCover {
    font-size: calc(11px + 2vh);
    line-height: calc(16px + 2vh);
  }
}
.container {
  width: 100%;
  background-color: white;
  opacity: 1;
  height: 100vh;
  transition: 0.5s;
}
.container .leftCont1 {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container .leftCont1 .contLeft1 {
  width: 100%;
  text-align: center;
  color: #333333;
}
.container .leftCont1 .contLeft1 .tittleCont {
  display: block;
  opacity: 0;
  letter-spacing: calc(2px - 1vh);
  transition-delay: 0.2s;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: calc(15px + 4vh);
  font-weight: 900;
}
.container .leftCont1 .contLeft1 .tittleCont1 {
  line-height: calc(15px + 4.5vh);
}
.container .leftCont1 .contLeft1 .tittleCont2 {
  line-height: calc(15px + 4.5vh);
}
.container .leftCont1 .contLeft1 i {
  font-size: 20px;
  margin-top: 10px;
  animation: down 1s infinite alternate;
}
@keyframes down {
  from {
    transform: translateY(10px);
  }
}
@media screen and (min-width: 992px) {
  .container .leftCont1 {
    width: 100%;
    height: 100vh;
  }
  .container .leftCont1 .contLeft1 {
    width: 100%;
    text-align: center;
    color: #333333;
  }
  .container .leftCont1 .contLeft1 .tittleCont {
    display: block;
    opacity: 0;
    letter-spacing: calc(1px - 1vh);
    transition-delay: 0.2s;
    transition: 0.5s;
    text-transform: uppercase;
  }
  .container .leftCont1 .contLeft1 .tittleCont1 {
    font-size: calc(65px + 5vh);
    font-weight: 900;
    line-height: calc(65px + 5vh);
  }
  .container .leftCont1 .contLeft1 .tittleCont2 {
    font-size: calc(65px + 5vh);
    font-weight: 900;
    line-height: calc(65px + 5vh);
  }
  .container .leftCont1 .contLeft1 i {
    font-size: 20px;
    margin-top: 10px;
    animation: down 1s infinite alternate;
  }
  @keyframes down {
    from {
      transform: translateY(10px);
    }
  }
}

.container2 {
  width: 100%;
  height: 200px;
}
.container2 .cont2 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.container2 .cont2 marquee {
  margin: 0 auto;
  width: 100%;
  height: calc(50px + 2vh);
  transform: rotate(-15deg);
  font-size: calc(25px + 2vh);
  color: #333333;
  font-weight: 400;
  letter-spacing: 2px;
}
.container2 .cont2 .maque1 {
  display: block;
}

.container3 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
}
.container3 .cont3 {
  width: 80%;
  overflow: hidden;
  text-align: center;
  font-size: calc(16px + 1vh);
}
@media screen and (min-width: 992px) {
  .container3 .cont3 {
    width: 60%;
    overflow: hidden;
    text-align: center;
    font-size: calc(19px + 1vh);
  }
}

.logos {
  width: 100%;
  height: 150px;
}
.logos .conIcons {
  width: 33.33333%;
  height: 100%;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}
.logos .conIcons img {
  width: 50px;
}

@media screen and (min-width: 992px) {
  .logos {
    width: 40%;
    margin: 0 auto;
  }
  .logos .conIcons {
    width: 33.33333%;
    height: 100%;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.2s;
  }
  .logos .conIcons img {
    width: 22%;
    transition: 0.2s;
    cursor: pointer;
  }
  .logos .conIcons img:hover {
    transform: scale(1.15);
  }
}
.container4 {
  width: 100%;
  margin-bottom: 50px;
}
.container4 .cont4 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.container4 .cont4 .tittleCont4 {
  display: block;
  font-size: calc(18px + 3vh);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 50px;
}
.container4 .cont4 .cono {
  color: #333333;
  display: inline-block;
  text-transform: uppercase;
  font-size: calc(12px + 1vh);
  margin: 2px;
  font-weight: 500;
  letter-spacing: -1px;
}
.container4 .cont4 i {
  margin-top: 10px;
  text-align: center;
  display: block;
}
@media screen and (min-width: 992px) {
  .container4 .cont4 {
    width: 60%;
  }
  .container4 .cont4 .tittleCont4 {
    font-size: calc(20px + 3vh);
    font-weight: 900;
  }
  .container4 .cont4 .cono {
    font-size: calc(19px + 1vh);
    font-weight: 400;
  }
}

* {
  padding: 0;
  margin: 0;
  color: #333333;
}

p,
span,
div {
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=index.css.map */
