.container4 {
    width: 100%;
    margin-bottom: 50px;
    .cont4 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        .tittleCont4 {
            display: block;
            font-size: calc(18px + 3vh);
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: -2px;
            margin-bottom: 50px;
        }
        .cono {
            color: #333333;
            display: inline-block;
            text-transform: uppercase;
            font-size: calc(12px + 1vh);
            margin: 2px;
            font-weight: 500;
            letter-spacing: -1px;
        }
        i {
            margin-top: 10px;
            text-align: center;
            display: block;
        }
    }
    @media screen and (min-width:992px) {
        .cont4 {
            width: 60%;
            .tittleCont4 {
                font-size: calc(20px + 3vh);
                font-weight: 900;
            }
            .cono {
                font-size: calc(19px + 1vh);
                font-weight: 400;
            }
        }
    }
}